$mobile: 375px;
$desktop: 1440px;

// main background
$main_bg_blue: hsl(218, 28%, 13%);
// intro and email sign up background
$email_bg_blue: hsl(217, 28%, 15%);
// footer BG
$footer_blue: hsl(216, 53%, 9%);
// testimonials background
$testimonials_bg_blue:  hsl(219, 30%, 18%);


//ACCENTS

// Cyan (inside call-to-action gradient)
$accent_cyan: hsl(176, 68%, 64%);
// Blue (inside call-to-action gradient)
$accent_blue: hsl(198, 60%, 50%);
// Light Red (error)
$accent_red: hsl(0, 100%, 63%);

// NEUTRAL

$neutral: hsl(0, 0%, 100%);



